<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- bean definitions here 

	<bean class="example.com.Department" id="dept">
	<property name="id" value="105" />
	<property name="name" value="MicroService" />
	<property name="location" value="ManyataBangalore" />
	</bean>
	<bean class="example.com.Employee" id="emp" autowire="byType">
		<property name="empid" value="999" />
		<property name="name" value="Bambam" />	
	</bean>
	-->
</beans>

