<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- bean definitions here -->

	<bean class="springxml.Student" id="stu" scope="prototype">
	<property name="id" value="105" />
	<property name="name" value="DeepakKumar" />
	<property name="subject" value="SpringBoot" />
	<property name="marks" value="90" />

	</bean>
	

</beans>




